<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.reach.reach">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.app.reach.model.DefaultRealmConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.app.reach.SplashScreen.SplashScreen"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Company.CompanyActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CompanyProducts.ProductsActivity"
            android:label="Reach"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductDetails.ProductDetailsActivity"
            android:label="Reach"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OrderLineListItem.OrderLineListItemActivity"
            android:label="Reach"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>
